.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.fab-wrapper {
position: fixed;
bottom: 3rem;
right: 3rem;
}
.fab-checkbox {
display: none;
}
.fab {
position: absolute;
bottom: -1rem;
right: -1rem;
width: 4rem;
height: 4rem;
background: blue;
border-radius: 50%;
background: #126ee2;
box-shadow: 0px 5px 20px #81a4f1;
transition: all 0.3s ease;
z-index: 1;
border-bottom-right-radius: 6px;
border: 1px solid #0c50a7;
}

.fab:before {
content: "";
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
}
.fab-checkbox:checked ~ .fab:before {
width: 90%;
height: 90%;
left: 5%;
top: 5%;
background-color: rgba(255, 255, 255, 0.2);
}
.fab:hover {
background: #2c87e8;
box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
position: absolute;
height: 8px;
width: 8px;
background-color: white;
border-radius: 50%;
top: 50%;
transform: translateX(0%) translateY(-50%) rotate(0deg);
opacity: 1;
animation: blink 3s ease infinite;
transition: all 0.3s ease;
}

.fab-dots-1 {
left: 15px;
animation-delay: 0s;
}
.fab-dots-2 {
left: 50%;
transform: translateX(-50%) translateY(-50%);
animation-delay: 0.4s;
}
.fab-dots-3 {
right: 15px;
animation-delay: 0.8s;
}

.fab-checkbox:checked ~ .fab .fab-dots {
height: 6px;
}

.fab .fab-dots-2 {
transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked ~ .fab .fab-dots-1 {
width: 32px;
border-radius: 10px;
left: 50%;
transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.fab-checkbox:checked ~ .fab .fab-dots-3 {
width: 32px;
border-radius: 10px;
right: 50%;
transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
50% {
opacity: 0.25;
}
}

.fab-checkbox:checked ~ .fab .fab-dots {
animation: none;
}

.fab-wheel {
position: absolute;
bottom: 0;
right: 0;
border: 1px solid #;
width: 10rem;
height: 10rem;
transition: all 0.3s ease;
transform-origin: bottom right;
transform: scale(0);
}

.fab-checkbox:checked ~ .fab-wheel {
transform: scale(1);
}
.fab-action {
position: absolute;
background: #0f1941;
width: 3rem;
height: 3rem;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
color: White;
box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
transition: all 1s ease;

opacity: 0;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
opacity: 1;
}

.fab-action:hover {
background-color: #f16100;
}

.fab-wheel .fab-action-1 {
right: -1rem;
top: 0;
}

.fab-wheel .fab-action-2 {
right: 3.4rem;
top: 0.5rem;
}
.fab-wheel .fab-action-3 {
left: 0.5rem;
bottom: 3.4rem;
}
.fab-wheel .fab-action-4 {
left: 0;
bottom: -1rem;
}


/** for details **/
img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  #cards {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; }
  
  .checked, .price span {
    color: #ff9f1a; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #ff9f1a;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #b36800;
      color: #fff; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }